body {
background: linear-gradient(#01796f,mediumseagreen,#AFE1AF);
 }

 #bodydivs{
  margin-left:10px;
  margin-top:0px;
  margin-right:0px;
 }

 h1 {
color: green;
 }

p {
color: blue;
 }

img {
  border: 5px solid rgb(0,255,255);
  border-radius:70px;
}

.img:hover{
  transform:scale(0.9);
}

.links{
  padding-left:5px;
  padding-right:5px;
  padding-top:9px;
  padding-bottom:9px;
  font-size:20px;
  font-family:fantasy;
  color:rgb(0, 0, 0);
}

.links a{
text-decoration:none;
color:#ceff94;
}

.links a:hover{
  text-decoration:underline;
  font-size:25px;
  color:black;
}

#imgdiv{
  padding:20px;
  background-color:aqua;
  border-radius:20px;
  text-align:center;
}

#images_dropdown{
  padding:6px 22px;
  border-radius:20px;
  height:50px;
  text-align:center;
  font-size:30px;
  font-family:cursive;
}

#images_dropdown i{
  float:right;
}

#images_dropdown:hover{
  text-shadow:2px 2px 4px black;
  font-weight:bolder;
}

.my_nav_bar{
  width:100%;
}

.navbar-header{
  font-family:cursive;
  font-weight:bolder;
}